
<!-- table zwave_devices search -->
<div>
 [ <a href="#" onClick="$('#api_settings').toggle();return false;"><#LANG_SETUP#></a> ]
</div>
<div style="display:none" id='api_settings'>
&nbsp;
<form action="?" method="post" enctype="multipart/form-data" name="frmEdit" class="form-horizontal">
<fieldset>
<div class="form-group">
 <label class="control-label"[#if ERR_API_URL#] style="color:red;font-weight:bold"[#endif#]>
 API URL:
 (*)
 </label>
 <div class="controls"><input type="text" name="api_url" value="[#API_URL#]" class="input"></div>
</div>
<div class="form-group">
 <label class="control-label"[#if ERR_API_KEY#] style="color:red;font-weight:bold"[#endif#]>
 API KEY:
 (*)
 </label>
 <div class="controls"><input type="text" name="api_key" value="[#API_KEY#]" class="input"></div>
</div>
<div class="form-actions">
<button type="submit" name="subm" value="Submit" class="btn btn-primary"><#LANG_UPDATE#></button>
<input type="hidden" name="view_mode" value="update_settings">
<input type="hidden" name="mode" value="update">
</div>
</fieldset>
</form>
</div>
 <!-- action usual -->
 [#if DATA_SOURCE="beckhoff_variables" || DATA_SOURCE=""#]
 <!-- table beckhoff_variables search -->
 [#if VIEW_MODE="search_beckhoff_variables" || VIEW_MODE=""#]
  [#inc beckhoff_variables_search_admin.html#]
 [#endif VIEW_MODE#]
 <!-- / table beckhoff_variables search -->
 <!-- table beckhoff_variables edit -->
 [#if VIEW_MODE="edit_beckhoff_variables"#]
   [#if ID!=""#]
   [#if TITLE!=""#]<h4>[#TITLE#]</h4>[#endif TITLE#]
<ul class="nav nav-tabs">
  <li[#if TAB=""#] class="active"[#endif#]>
   <a href="?data_source=<#DATA_SOURCE#>&view_mode=<#VIEW_MODE#>&id=<#ID#>&tab="><#LANG_GENERAL#></a>
  </li>
  <li[#if TAB="data"#] class="active"[#endif#]>
   <a href="?data_source=<#DATA_SOURCE#>&view_mode=<#VIEW_MODE#>&id=<#ID#>&tab=data">&#060#LANG_DATA#&#062</a>
  </li>
</ul>
&nbsp;<br/>
   [#endif ID#]
   [#if TAB=""#]
    [#inc beckhoff_variables_edit_default.html#]
   [#endif TAB#]
   [#if TAB="data"#]
    [#inc beckhoff_variables_edit_data.html#]
   [#endif TAB#]
 [#endif VIEW_MODE#]
 <!-- / table beckhoff_variables edit -->
 <!-- table beckhoff_variables view --> 
 [#if VIEW_MODE="view_beckhoff_variables"#]
   [#if TAB=""#]
    [#inc beckhoff_variables_view_default.html#]
   [#endif TAB#]
 [#endif VIEW_MODE#]
 [#if VIEW_MODE="edit_beckhoffads_edit"#]
   [#inc beckhoff_variable_edit.html#]
 [#endif VIEW_MODE#]

 <!-- / table beckhoff_variables view -->
 [#endif DATA_SOURCE#]
 <!-- action usual -->
 [#if DATA_SOURCE="beckhoff_variables_data"#]
 <!-- table beckhoff_variables_data search -->
 [#if VIEW_MODE="search_beckhoff_variables_data" || VIEW_MODE=""#]
  [#inc beckhoff_variables_data_search_admin.html#]
 [#endif VIEW_MODE#]
 <!-- / table beckhoff_variables_data search -->
 <!-- table beckhoff_variables_data edit -->
 [#if VIEW_MODE="edit_beckhoff_variables_data"#]
   [#inc beckhoff_variables_data_edit.html#]
 [#endif VIEW_MODE#]
 <!-- / table beckhoff_variables_data edit -->
 <!-- table beckhoff_variables_data view --> 
 [#if VIEW_MODE="view_beckhoff_variables_data"#]
   [#inc beckhoff_variables_data_view.html#]
 [#endif VIEW_MODE#]
 <!-- / table beckhoff_variables_data view -->
 [#endif DATA_SOURCE#]
