
 <!-- action usual -->
 <!-- table modbusdevices search -->
 [#if VIEW_MODE="search_beckhoff_ads" || VIEW_MODE=""#]
  [#inc beck_search_admin.html#]
 [#endif VIEW_MODE#]
 <!-- / table modbusdevices search -->
 <!-- table modbusdevices edit -->
 [#if VIEW_MODE="edit_beckhoff_ads"#]
   [#inc beck_edit_admin.html#]
 [#endif VIEW_MODE#]
 <!-- / table modbusdevices edit -->
 <!-- table modbusdevices view --> 
 [#if VIEW_MODE="view_beckhoff_ads"#]
   [#inc beck_view_admin.html#]
 [#endif VIEW_MODE#]
 <!-- / table modbusdevices view -->
